body {

padding-top: px;
}

.navbar-brand {
padding-top: 0rem;
padding-bottom: 0rem;
}

.background {
background-color: purple;
color:white;
}


p {
word-break: break-all;
}

h5 {
text-aligin:right;
}

